﻿@page "/dashboard"
@inject VideoService videoService

<h3>DashboardPage</h3>
<div class="flex flex-row gap-5">
    <div class="flex flex-col gap-5">
        <VideoFilter FilterTerm=@FilterTerm OnFilterTermChanged=FilterChanged></VideoFilter>
        <VideoList @bind-SelectedVideo=SelectedVideo Videos=Videos></VideoList>
    </div>
    <VideoPlayer SelectedVideo=SelectedVideo></VideoPlayer>

</div>


@code {
    public List<Video> Videos = new(){};
    public Video SelectedVideo;
    public string FilterTerm = "";

    protected override async Task OnInitializedAsync()
    {
        Videos = (await videoService.GetVideos()).ToList();
    }

    public void FilterChanged(string newSearchTerm)
    {
        // Perform filtering here
        Console.WriteLine(newSearchTerm);
    }
}
