﻿@if (SelectedVideo is not null)
{
    <iframe width="560" height="315" allowfullscreen="" title="Video Container" src="https://www.youtube.com/embed//@SelectedVideo.Id"></iframe>
}
else
{
    <p>Please select a video</p>
}

@code {
    [Parameter]
    public Video? SelectedVideo { get; set; }
}
