﻿<ul>
    @foreach (var _video in Videos)
    {
        var backgroundStyle = SelectedVideo?.Id == _video.Id ? "background-color: lightgray" : "";

        <li style="@backgroundStyle" @onclick="@(()=>SelectedVideoChanged.InvokeAsync(_video))">
            <img width="300" src="http://img.youtube.com/vi/@_video.Id/0.jpg" />
            <p>@_video.Title - @_video.Author</p>
        </li>
    }

</ul>


@code {
    [Parameter]
    public List<Video> Videos { get; set; } = new() { };

    [Parameter]
    public Video? SelectedVideo { get; set; }

    [Parameter]
    public EventCallback<Video> SelectedVideoChanged { get; set; }


}
