﻿<lable>
    Filter Videos:
    @*<input @bind-value="@FilterTerm"
        class="border border-solid"
        type="text" />*@

    <input value="@FilterTerm"
        @oninput="@((ChangeEventArgs args)=>OnFilterTermChanged.InvokeAsync(args?.Value?.ToString()))"
        class="border border-solid"
        type="text" />
</lable>

@code {
    [Parameter]
    public string FilterTerm { get; set; } = "";

    [Parameter]
    public EventCallback<string> OnFilterTermChanged { get; set; }

}
